<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Users\leona\Anaconda3\python.exe"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="runBuildInContainer.py ${project_loc} build conera_rtos_linux /tools/builders/nl668_builder.py"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="C:\Users\leona\Desktop\POLI2022\V2COM\conera-core-c\tools\runners"/>
</launchConfiguration>
